<article class="<%= item.layout %>">
  <% if (item.photos){ %>
    <%- partial('post/gallery') %>
  <% } %>
  <div class="post-content">
    <div class="header">
      <%- partial('post/title') %>
    </div>

    <div class="entry">
      <% if (item.excerpt && index){ %>
        <%- item.excerpt %>
      <% } else { %>
        <%- item.content %>
      <% } %>
    </div>

	<% if (index){ %>
		<% if (item.excerpt){ %>
			<a href="<%- config.root %><%- item.path %>#more" class="more-link"><%= theme.excerpt_link %></a>
		<% } %>
	<% } %>

	<hr/>

  </div>
</article>

<%- partial('comment') %>
